	<!-- Footer -->
	<!-- /Footer -->

	<!-- Copyright -->
		<div id="copyright" class="container">
			CAUTION: This web-site is about an app in working-alpha state, so everything may changed in the future.<br/>
			For more information, please contact <a href="mailto:ch3plus.studio@gmail.com?Subject=Enquiry%20About%20Log%20Viewer%203Plus">ch3plus Studio</a></br/>
			<br/>
			Develope: <a href="http://ch3plus-studio.github.io">ch3plus Studio</a> | Design: <a href="http://templated.co">TEMPLATED</a> | Images: <a href="http://unsplash.com">Unsplash</a> (<a href="http://unsplash.com/cc0">CC0</a>) | <a href="http://lokeshdhakar.com/projects/lightbox">lightbox2</a> (<a href="https://raw.githubusercontent.com/lokesh/lightbox2/master/LICENSE">MIT</a>)</br/>
			<br/>
			Icons: <a href="http://www.iconarchive.com/show/ravenna-3d-icons-by-double-j-design.html">Ravenna 3D Icons</a> (<a href="https://creativecommons.org/licenses/by/4.0/">CC Attribution 4.0</a>)<br/>
			<br/>
			Log sample: <a href="http://opensource.indeedeng.io/imhotep/docs/sample-data/">sample data from Imhotep</a> (<a href="https://github.com/indeedeng/imhotep/blob/master/LICENSE">Apache License 2.0</a>)
		</div>
		
	<!-- Lightbox2 -->
	<script src="js/lightbox-plus-jquery.min.js"></script>
	