		<div id="header">
			<div class="container">
					
				<!-- Logo -->
					<div id="logo">
						<h1><a href="#" style="display: inline;">Log Viewer 3Plus</a><a href="http://ch3plus-studio.github.io" style="display: inline;color: gray;font-size: x-large;
"> by ch3plus Studio</a></h1>
					</div>
				
				<!-- Nav -->
					<!-- <nav id="nav">
						<ul>
							<li class="active"><a href="index.html">Homepage</a></li>
							<li><a href="left-sidebar.html">Left Sidebar</a></li>
							<li><a href="right-sidebar.html">Right Sidebar</a></li>
							<li><a href="no-sidebar.html">No Sidebar</a></li>
						</ul>
					</nav>
-->
			</div>
		</div>